@use "./includes/reset";
@use "./includes/mixins";
@use "./includes/values" as x;
@use "components/header";
@use "components/content";
@use "components/form";
@use "components/footer";

body {
	font-family: map-get(x.$fonts, "main");
	font-size:   88%;
}

#root {
	display:            grid;
	grid-template-areas:
			"header"
			"content"
			"footer";
	grid-template-rows: map-get(x.$sizes, "xlarge") auto map-get(x.$sizes, "xlarge");

	min-height:         100vh;
	min-width:          400px;
	width:              100vw;

	@include mixins.res(desktop) {
		&:has(> .home) {
			grid-template-areas:
				"header content"
				"footer footer";
			grid-template-columns:  1fr 1fr;
			grid-template-rows:     auto map-get(x.$sizes, "xlarge");
		}
	}
}
