@use "values" as x;         // Predefined values and settings
@use "reset";               // Reset
@use "sections/header";     // Page PageHeader
@use "sections/content";    // Content
@use "sections/form";       // Forms
@use "sections/footer";     // Page PageFooter

body {
	font-size: 88%;
}

#root,
.content {
	display:     flex;
	flex-flow:   column nowrap;
	align-items: center;
}

.content {
	display:    flex;
	max-width:  1024px;
	margin-top: x.$header-height;
}

.link {
	text-decoration: none;
}
