:root body {
	--theme-dark-hover:   darkgray;
	--theme-nature-hover: lightgreen;
	--theme-light-hover:  orange;

	&.theme--dark_mode {
	}

	&.theme--light_mode {
		--body-bg:      white;
		--body-bg-img:  none;
		--body-text:    black;
		--border:       rgba(0, 0, 0, 0.1);
		--box-bg:       rgba(255, 255, 255, 0.8);
		--box-text:     black;
		--footer-bg:    transparent;
		--footer-text:  black;
		--header-bg:    transparent;
		--header-title: #B0B0B0;
		--icons:        black;
		--link-text:    blue;
		--shadow-dark:  rgba(0, 0, 0, 0.6);
		--shadow-light: rgba(0, 0, 0, 0.3);
	}

	&.theme--nature {
	}
}
