// Fonts and Icons
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/***
 * Maps
 */

// Font Families
$fonts:       ( // @formatter:off
		              icons: "Material Symbols Outlined",
		              main:  (Poppins, sans-serif),
		              title: ("Playfair Display", serif)
              ); // @formatter:off

// Font sizes
$font-sizes:  ( // @formatter:off
					medium-large: 1.4rem,
		            medium:       1rem,
		            medium-small: 0.8rem,
		            small:        0.7rem,
		            title:        2.5rem,
					title-intro:  5rem
              ); // @formatter:on

// Screen resolution
$resolutions: ( // @formatter:off
		              desktop: (min-width: 1025px, max-width: null), // No max-width for desktop
		              tablet:  (min-width: 768px, max-width: 1024px),
		              mobile:  (min-width: null, max-width: 767px),
              ); // @formatter:on

// Shadows (box-shadow, text-shadow, and filter: drop-shadow())
$shadows:     ( // @formatter:off
		            none:   0 0 0 var(--shadow-light),
					light:  0 1.5px 1px var(--shadow-light),
					medium: 0 2.5px 5px var(--shadow-dark),
              ); // @formatter:on

// Sizes
$sizes:       ( // @formatter:off
					large:          40px,
					medium-large:   20px,
					medium:         15px,
					medium-small:   10px,
		            small:          5px,
					border-radius:  15px,
					icon-button:    50px,
					page-footer:    150px,
					page-header:    85px,
					users:          150px
              ); // @formatter:on

// Transitions
$transitions:   ( // @formatter:off
					button:         font-size .25s ease,
					opacity:        opacity .25s ease,
	                transform:      transform .25s ease
				); // @formatter:on
/***
 * Values
 */

$border: 1px solid var(--border);
$flag_dir: '/images/flags/';
