@use "../includes/mixins" as m;
@use "../includes/values" as v;

.page-footer {
	@include m.flex(column, nowrap, center, center);

	grid-area:           footer;
	gap:                 map-get(v.$sizes, "medium");
	padding:             map-get(v.$sizes, "medium");

	background-color:    var(--footer-bg);
	background-image:    var(--footer-bg-img);
	background-position: center;
	background-repeat:   no-repeat;
	background-size:     cover;

	color:               var(--footer-text);
	font-size:           map-get(v.$font-sizes, small);

	&__list {
		@include m.flex();

		list-style: none;
		gap:        map-get(v.$sizes, "medium");
	}
}
