@use "../includes/mixins";
@use "../includes/values" as x; // Predefined values and settings

.page-footer {
	@include mixins.flex(column, nowrap, center, center);

	grid-area:    footer;
	align-self:   end;
	justify-self: end;
	width:        100vw;
	padding:      map-get(x.$sizes, "large");

	color:        map-get(x.$colors, header-font);
	font-size:    map-get(x.$font-sizes, "small");

	&__nav { padding: map-get(x.$sizes, "medium-large"); }

	&__list {
		@include mixins.flex();

		gap:        map-get(x.$sizes, "medium");
		list-style: none;
	}
}
