@use "../includes/mixins" as m;
@use "../includes/values" as v;
@use "../includes/icons";

.languages,
.themes {
	@include m.flex(row, wrap, center);

	gap: map-get(v.$sizes, "medium");
}

.languages__flag,
.themes__icon {
	@include m.hovergrow(1.5);

	cursor:      pointer;
	line-height: 1rem;
}

.languages__flag {
	width:  map-get(v.$sizes, "medium-large");
	height: .75 * map-get(v.$sizes, "medium-large");

	cursor: pointer;

	&--de { @include m.flag('de'); }
	&--en { @include m.flag('us'); }
	&--es { @include m.flag('es'); }
	&--fr { @include m.flag('fr'); }
}

.themes__icon {
	color: var(--icon);

	&--dark_mode:hover { &, &.selected { color: var(--theme-dark-hover); } }
	&--nature:hover { &, &.selected { color: var(--theme-nature-hover); } }
	&--light_mode:hover { &, &.selected { color: var(--theme-light-hover); } }
}

.page-header {
	@include m.flex($justify: space-between, $align: center);

	grid-area:  header;
	gap:        map-get(v.$sizes, "medium");

	&__settings {
		@include m.flex(column, nowrap, center, end);

		gap:      map-get(v.$sizes, "medium");
	}

	&__title {
		@include m.font(title, title);
		@include m.shadow(text, medium);

		color: var(--header-title);
	}

	// If we are on the homepage:
	&:has(+ .home) {
		@include m.flex(column, nowrap, center, center);

		.page-header__title    { @include m.font(title, title-intro); }
		.page-header__settings { align-items: center; }

		.languages,
		.themes {
			text-align: center;

			&__header { width: 100%; }
			&__icon   { font-size: map-get(v.$font-sizes, "medium-large"); }
		}
	}

	// If we're not on the homepage:
	&:not(:has(+ .home)) {
		height:  map-get(v.$sizes, page-header);
		padding: map-get(v.$sizes, medium);

		.languages,
		.themes { &__header { display: none; } }

		.languages__flag,
		.themes__icon {
			opacity: 0;
			transform: translateX(-100%);

			transition: map-get(v.$transitions, "opacity"),
			            map-get(v.$transitions, "transform");

			&.active,
			&.show {
				opacity: 1;
				transform: translateX(0);
			}
			&.active { order: 99; }
		}
	}
}
