@use "../includes/mixins" as m;
@use "../includes/values" as v;

.login-form,
.register-form {
	@include m.flex(column);

	gap: map-get(v.$sizes, "medium");

	@at-root .form {
		&__button   { margin-left: auto; }
		&__label    {
			max-width: 80%;
			margin-right: auto;
		}
		&__message  { font-style: italic; }
		&__input    { margin-left: auto; }

		&__row { @include m.flex(row, wrap, space-between, center); }
	}

	@include m.res(mobile, tablet) {
		max-width: 400px;
		width:     100%;
		margin:    auto;
	}
	@include m.res(desktop) {
		width:       400px;
		margin-left: auto;
	}
}
